* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}

.guest-cover {
    background-image: url("../images/guest-cover.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.guest {
    background: #062743;
    /*background-image: url("../images/bg1.jpg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.navbar > a > img:hover {
    filter: invert(100%);
}

.guest a {
    color: white;
}

.guest a:hover {
    color: #c00000;
    text-decoration: none;
    font-weight: bold;
}

.carousel-item > img {
    opacity: 0.7;
    height: 550px;
}

.dropdown-menu > a {
    color: black;
}

.carousel {
    position: relative;
}

.carousel-overlap-top {
    position: absolute;
    top: 0;
}

.carousel-overlap-top > img {
    height: 180px;
    opacity: 0.8;
}

.carousel-overlap-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel-overlap-bottom > img {
    height: 180px;
    width: 250px;
    opacity: 0.2;
    border-top: 4px outset grey;
    border-left: 4px outset grey;
}

.carousel-overlap-bottom > a {
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.vue-login {
    max-width: 400px;
    background: #ff8f56;
    color: #240041;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

/*shop - list*/
.shop-list > .carousel {
    height: 200px;
}

.shop-list > .list > .row {
    background: coral;
    border: 4px inset #fffe20;
    border-radius: 20px;
}

.shop-list > .list img {
    height: 150px;
    width: 150px;
    background: green;
}

.shop-list .w-100 {
    display: inline;
    max-height: 160px;
    max-width: 200px;
}

.profile .image {
    height: 360px;
    width: 280px;
    position: relative;
}

.profile .image > a {
    position: absolute;
    bottom: 0;
}

.addImage {
    padding: 10px;
    position: absolute;
    z-index: 5;
    right: 40%;
    background: #007bff;
    display:none;
}