* {
    margin: 0;
    padding: 0;
}

body {

}

.bg-cover{
    background-image: url("../images/bg-home.jpg");
}

.navbar-brand > img {
    height: 45px;
}

.navbar-brand > img:hover {
    filter: invert(100%);
}

.hidden {
    visibility: hidden;
}

