header {
    background: whitesmoke;
    border-bottom: 1px solid honeydew;
}

.bg-nav {
    background: whitesmoke;
    z-index: 20;
}

@media (min-width: 538px) {
    header {
        background: linear-gradient(to right, transparent, white, transparent, transparent, transparent, white);
    }

    .bg-nav {
        background: linear-gradient(to right, transparent, white, transparent, transparent, transparent, white);
    }
}

.navbar * {
    font-size: 16px;
}

footer {
    background: linear-gradient(to right, transparent, transparent, white, white, white, transparent, transparent);
}

.footer-links {
    background: whitesmoke;
    border-bottom-right-radius: 110px;
}

.bg-content {
    /*background: deepskyblue;*/
    background-color: rgba(255, 255, 255, 0.8);
    /*background: linear-gradient(to right, transparent, white, white, white, white, white, white, white, transparent);*/
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-indicators > li {
    width: 100%;
    height: 10px;
}

.profile-image > img {
    max-width:240px;
    min-height: 280px;
    width: 100%;
}

.profile-image-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 30%;
}