header {
    background: whitesmoke;
    border-bottom: 1px solid honeydew;
}

.bg-nav {
    background: whitesmoke;
    z-index: 20;
}

@media (min-width: 538px) {
    header {
        background: linear-gradient(to right, transparent, white, transparent, transparent, transparent, white);
    }

    .bg-nav {
        background: linear-gradient(to right, transparent, white, transparent, transparent, transparent, white);
    }
}

.navbar * {
    font-size: 16px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu {
    border-top: none;
}

footer {
    background: linear-gradient(to right, transparent, transparent, white, white, white, transparent, transparent);
}

.footer-links {
    background: whitesmoke;
    border-bottom-right-radius: 110px;
}

.bg-content {
    /*background: deepskyblue;*/
    background-color: rgba(255, 255, 255, 0.8);
    /*background: linear-gradient(to right, transparent, white, white, white, white, white, white, white, transparent);*/
}

.bg-items {
    background-color: rgba(180, 220, 225, 0.6);
    border: 6px solid rgba(255, 255, 255, 0.5);
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-indicators > li {
    width: 100%;
    height: 5px;
}

.profile-image > img {
    max-width: 200px;
    min-height: 240px;
    width: 100%;
}

.profile-image-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 30%;
}

#loginform {
    display: none;
}

.index-items > img {
    max-height: 120px;
    width: 160px;
    /*border-radius: 30px;*/
}

.index-carousel img {
    max-height: 380px;
}

.fa-star {
    color: white;
}

.list img {
    width: 100%;
    max-height: 140px;
}

.mid-home {
    padding: 10px 100px 10px 100px;
}

.mid-home img {
    width: 280px;
}

.btn-circle {
    position: absolute;
    right: 10px;
}

.btn-circle a {
    padding: 0 10px;
    border-radius: 50%;
}

.btn-circle img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}