// Fonts
@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
  font-family: 'Righteous', cursive;
  font-size: 14px;
}

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Font-Awesome
@import "~font-awesome/scss/font-awesome";

//animate on scroll
@import "~aos/dist/aos.css";

//Custom css
*:not(i) {
  color: #480032;
}

.row {
  margin: 0;
  padding: 0;
}

.back-cover {
  background-image: url("../../../public/images/back-cover.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #005792;
}

a:hover {
  color: #f62a66;
  text-decoration: none;
}


